.panel {
    width: 50px;
    height: 300px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.elemento:first-child, .elemento:nth-child(3) {
    height: 20%;
}

.maior {
    height: 50%;
}

.menor {
    height: 10%;
}

.elemento {
    background-color: gray;
}