.header {
  display: flex;
  flex-direction: column;
  background-color: darkred;
  height: 100%;
  width: 100%;
}

.listDataPerson {
  display: flex;
  justify-items: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 15px;
}

.link {
  width: 100px;
  list-style: none;
  display: inline-block;
  font-size: 25px;
}
