body {
  font-family: "Roboto";
  display: flex;
  justify-content: center;
}

th {
  text-align: center;
  background-color: black;
  color: white;
  font-weight: 400;
  padding: 5px;
}

tr,
td {
  padding: 5px;
}

tr:nth-child(even) {
  background-color: lightgrey;
}

td {
  text-align: center;
}
